<div
  class="quoteCard relative text-base bg-primary rounded-sm min-w-25 m-1 p-4 w-30 <%= extraClass || '' %>"
>
  <div class="book_mark w-[15%] h-[15%] top-0 bg-bookmaark absolute left-[6%]"></div>
  <p class="quoteText text-xs sm:text-sm  text-center">
    <%= text %>
  </p>
</div>