<div
  class="quoteCard min-w-16 max-w-xs sm:w-[40vw] md:w-[28vw] lg:w-[10vw] h-[18vh] sm:h-[20vh] bg-primary text-base p-4 rounded-lg shadow-lg relative flex items-center justify-start<%= extraClass || '' %>"
>
  <div class="book_mark w-[15%] h-[15%] top-0 bg-bookmaark absolute left-[6%]"></div>
  <p class="quoteText text-xs sm:text-sm md:text-base text-center">
    <%= text %>
  </p>
</div>