<nav class="w-screen bg-primary text-base p-2 h-[8vh] flex justify-start gap-10 items-center shadow-md shadow-primary select-none">
    <img src="/public/assets/svg/crosscom-logo.svg" class="h-[7vh] w-[7vh] rounded-full">
    <ul class="linkList flex justify-around items-center gap-8 text-2xl">
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Nosotros</a></li>
        <li><a href="/versiculos">Versiculos</a></li>
        <li><a href="/resenias">Reseñas</a></li>
    </ul>
</nav>  