<main class="w-full h-[92vh] flex flex-col items-center justify-center p-6 bg-gradient-to-r from-base to-base-two">
  <h1 class="text-opuest-one text-3xl">Quienes somos</h1>
  <p
    class="bg-primary text-base p-4 rounded-lg shadow-lg text-center max-w-2xl"
  >
    Somos una organizacion de citas biblicas que busca ayudar a las personas a
    encontrar respuestas a sus preguntas espirituales y a crecer en su fe.
    Nuestro objetivo es proporcionar un espacio seguro y acogedor donde las
    personas puedan explorar la Biblia, hacer preguntas y encontrar apoyo en su
    camino espiritual. Pero lo mas importante es... Que no queremos que usted busque a Cristo por medio de nosotros, sino
    que lo busque en intimidad y en otración.
  </p>
</main>
