<!DOCTYPE html>
<html lang="en">
<head>    
    <%-include("../partials/utils/head.ejs")  %>
</head>
<body>
    <%-include("../partials/ui/nav.ejs")  %>
    <%-include("../partials/about/main.ejs")  %>
</body>
</html>