<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/utils/head.ejs") %>
    <link rel="stylesheet" href="/public/assets/styles/main/index.css" />
  </head>
  <body>
    <%-include("../partials/ui/nav.ejs") %>
    <main class="p-5 flex justify-center items-center flex-col gap-8">
        <h1 class="text-4xl text-primary">Crosscom</h1>
        <h1 class="text-3xl text-center">
      Lo sentimos, esta URL del sitio no existe,
      <a href="/" class="text-opuest-two underline">Volver a inicio</a>
    </h1>
    </main>
  </body>
</html>
