<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("../partials/utils/head.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/public/assets/styles/resenia/index.css" />
  </head>
  <body>
    <%-include("../partials/ui/nav.ejs") %>
    <%-include("../partials/resenias/main.ejs") %>

    <script src="/public/assets/scripts/resenias.js"></script>
<script src="/public/assets/scripts/main.js"></script>

  </body>
</html>
