<section
  class="w-full h-[100vh] flex flex-col justify-start items-center pt-20 gap-3 select-none"
>
  <h1 class="text-base text-7xl italic text-center">
    CrossCom, Donde Cristo es el centro
  </h1>
  <h1 class="text-base text-4xl italic w-[70vw] text-center">
    Citas Biblicas y palabra de vida, porque donde esta Cristo, hay slavacion
    <span class="text-sm">Este sitio puede tener errores</span>
  </h1>

  <div class="hero w-full h-[108vh] absolute top-0"></div>
</section>
