<main class="w-screen h-screen flex flex-col items-center justify-start bg-gray-100">
    <h1 class="text-4xl font-bold text-opuest-one mb-4 italic">Aqui tenemos desde citas biblicas</h1>
    <p class="text-2xl text-opuest-two ita
    lic">Hasta tu testimonio</p>
    <%-include("./cardsArticle.ejs")  %>
    <p class="text-5xl relative top-20">Por eso somos cross-com, sonde despues de Cristo vienes Tu (;</p>
</main>