<main class="w-screen h-screen flex flex-col items-center justify-start bg-gray-100">
    <h1 class="text-4xl font-bold text-opuest-one mb-4 italic text-center">Aqui tenemos desde citas biblicas</h1>
    <p class="text-2xl text-opuest-two ita
    lic text-center">Hasta tu testimonio</p>
    <%-include("./cardsArticle.ejs")  %>
    <p class="w-[90%] text-[05vw] relative top-20 text-center text-shadow-lg text-shadow-opuest-one/20">Por eso somos cross-com, donde despues de Cristo vienes Tú</p>
</main>