<main
  class="w-screen h-screen flex flex-col items-center justify-start py-20 gap-5"
>
  <h1 class="text-2xl">¿Quieres escribir una reseña?</h1>
  <p class="text-xl">Sigue los pasos:</p>
  <form
    id="resenia_form"
    class="steps flex gap-5 flex-col justify-start items-center h-full py-6"
  >
    <div>
      <h2>
        1. Primero escribe un titulo, puede ser de parte de quien o algo en
        general
      </h2>
      <input
        name="title"
        type="text"
        class="w-[55%] p-2 border-2 border-opuest-one outline-primary rounded-lg"
        maxlength="30"
        placeholder="Escribe el título aquí (treinta caracteres maximo)..."
        required
      />
    </div>
    <div class="h-36">
      <h2>
        2. Luego escribe el contenido de la reseña, puede ser una opinion o algo
        a mejorar de la app
      </h2>
      <textarea
        placeholder="Escribe el reseña aquí (100 caracteres maximo)..."
        name="description"
        maxlength="100"
        class="w-1/2 h-30 p-2 border-2 border-opuest-one outline-primary rounded-lg resize-none"
        required
      ></textarea>
    </div>
    <span class="flex flex-col items-center gap-2 relative top-6 p-2">
      <h2>Por ultimo... ¡Envialo así de facil!</h2>
      <button
        id="btn_resenia"
        type="submit"
        class="bg-primary text-base px-5 py-2 rounded-md"
      >
        Enviar
      </button>
    </span>
  </form>
</main>
